* {
  text-align: center;
}

.header-full {
  background: black;
  color: white;
}

.header-full p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
}

.header div {
  margin: 20px;
}

.pokemon-display {
  display: flex;
  justify-content: center;
}
